<div class="border-start border-5 fs-5 ps-3 py-1 fw-light">
  <p><%= @question %></p>
  <p class="fst-italic mb-0">- You</p>
</div>

<div class="border-start border-5 mt-3 ps-3 fs-5 py-1 couleur-perso mb-3">
  <p><%= @answer %></p>
  <p class="fst-italic fw-light mb-0">- Your coach</p>
</div>

<%= link_to "Go back to \"ask\"", ask_path %>
